<h2> Here is the current weather in {{display_location.city}} </h2>
<p> The current temperature is {{temp_f}}</p>
<p> It is currently {{weather}}</p>
<p> The current air pressure is {{pressure_in}}</p>
<p>The wind is blowing at {{wind_mph}}mph</p>

<button type="button" id="three-day">Three Day Forcast</button>
<button type ="button" id="seven-day">Seven Day Forcast</button>





{{!--3018d91767478a9c--}}